html {
	overflow: hidden !important;
}
.well{
	text-align: center !important;
}
.calc {
	width: 330px;
	height: 400px;
	background-color: steelblue !important;
	border: 2px solid black !important;
	margin: auto !important;
	
}
button {
	margin-right: 50px !important;
	margin-bottom: 10px !important;
}
#console {
	background-color: black !important;
	height: 100px;
	overflow: scroll;
}
#console-title {
	background-color: black !important;
	margin: 1px !important;
	border  !important;
}