body {
	background-color:ivory!important;
}
.title { 
	font-size: 500%; 
	color: white;
	text-align: center;
	font-weight: bold; 
}
.well { 
	background-color: skyblue !important;
	margin: 0 0 0 0 !important; 
	overflow: hidden;
}
.navbar-nav>li{
	background-color: steelblue !important; 
        float: none!important; 
	display: inline-block !important;
	text-align: center !important;
}
.yearchat-nav {
	margin-left: 10px !important;
	font-weight: bold !important;
	color: black !important;
}
.nav-box > li > a {
	color: black !important;
	font-weight: bold !important;
}
!important @media(max-width:400px){
	.nav-box > li > a{
		background-color: steelblue !important; 
        	float: none!important; 
		display: inline-block !important;
		text-align: center !important;
		margin-left; 20px !important;
	}
}
